Repository mayconaraujosantos/fly-easy-eticket: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: create dockerized files for test scrape
  Dockerfile
  docker-compose.yml
Due: none

chore: change package yarn to npm
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: add scrape flight by arrival and departure
  src/main/index.js
  src/scraper/collector/passenger.js
  src/scraper/constants/selectors.js
  src/scraper/index.js
  src/utils/helpers/logger.js
Due: eslint --fix, prettier --write

test: test scrape flight by arrival and departure
  tests/fixture/passergers.js
  tests/scraper/passenger.spec.js
Due: eslint --fix, prettier --write

chore: add app-root-path package
  package-lock.json
  package.json
Due: prettier --write

chore: remove unused files and codes
  .env.example
  .github/workflows/continuous-integration-full-workflow.yml
  .prettierignore
  .vscode/settings.json
  jsconfig.json
  requirements/airline-reservation.drawio
  src/domain/.gitkeep
  src/index.js
  tests/scraper/scraper-passeger.spec.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: create schemas for use in mongodb
  src/infra/database/mogodb/schemas/airline-ticket.schema.js
  src/infra/database/mogodb/schemas/arrival.schema.js
  src/infra/database/mogodb/schemas/connection.schema.js
  src/infra/database/mogodb/schemas/departure.schema.js
  src/infra/database/mogodb/schemas/index.js
  src/infra/database/mogodb/schemas/passenger.schema.js
  src/infra/database/mogodb/schemas/travel.schema.js
Due: eslint --fix, prettier --write

chore: remove unused word schema in files schemas
  src/infra/database/mogodb/index.js
  src/infra/database/mogodb/schemas/airline-ticket.schema.js
  src/infra/database/mogodb/schemas/arrival.schema.js
  src/infra/database/mogodb/schemas/connection.schema.js
  src/infra/database/mogodb/schemas/departure.schema.js
  src/infra/database/mogodb/schemas/passenger.schema.js
Due: eslint --fix, prettier --write

test: change file name for travel, and other help files
  src/scraper/collector/travel.js
  src/scraper/config/page-browser.js
  src/utils/helpers/logger.js
  tests/fixture/treval.js
  tests/scraper/travel.spec.js
Due: eslint --fix, prettier --write

test: change file name and help files
  .gitignore
  .yarnrc.yml
  src/common/logging/logger.js
  src/common/utils/helpers/code-url-list.js
  src/infra/database/mogodb/index.js
  src/infra/database/mogodb/schemas/index.js
  src/main/config/.gitkeep
  src/main/index.js
  src/scraper/collector/passenger.js
  src/scraper/collector/travel.js
  src/scraper/config/browser.js
  src/scraper/config/page-browser.js
  src/utils/.gitkeep
  src/utils/helpers/page-browser-utils.js
  tests/fixture/passergers.js
  tests/scraper/passenger.spec.js
  yarn.lock
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

chore: add yarn setup
  .gitignore
  .yarnrc.yml
  yarn.lock
Due: none

chore: add winston logger librarie
  package.json
  src/common/index.js
  src/common/logging/logger.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: changing the structure to clean arch
  __tests__/utils/filter-by-term.spec.js
  src/scraper/index.js
  src/utils/.gitkeep
  src/utils/logger.js
  tests/scraper/travel.spec.js
  tests/utils/.gitkeep
Due: eslint --fix, prettier --write

chore: changing the structure scraper folder
  .babelrc
  jest.config.js
  jsconfig.json
  package.json
  src/common/constant/selectors.js
  src/scraper/browser.js
  src/scraper/index.js
  src/scraper/scraper-utils.js
  src/scraper/scraper.js
  src/scraper/travel.js
  yarn.lock
Due: eslint --fix, prettier --write

test: collect ticket data using scraper
  tests/fixture/travel.js
  tests/scraper/travel.spec.js
Due: eslint --fix, prettier --write

chore: ajust husky hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: updated husky hooks
  .husky/commit-msg
Due: none

chore: add config logger winston
  package.json
  src/common/index.js
  src/common/logging/logger.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: adjust method scraper datas
  .github/workflows/nodejs.yml
  .husky/pre-commit
  src/scraper/browser.js
  src/scraper/travel.js
Due: eslint --fix, prettier --write

chore: adjust github action ci cd
  .github/workflows/deploy.yml
  .github/workflows/nodejs.yml
Due: none

chore: adjust github action ci cd
  .env.example
  .github/workflows/deploy.yml
Due: none

chore: adjust sonar github action ci cd
  .github/workflows/nodejs.yml
Due: none

chore: configuring vscode
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

chore: configuring git & lefthook
  commitlint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: configuring typescript
  .editorconfig
  .env
  .eslintignore
  .eslintrc.json
  .prettierrc.js
  package.json
  pnpm-lock.yaml
  src/domain/usecase/scrape-usecase.ts
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: ensuring gts (eslint), prettier and configure lint-staged
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: configuring tests
  jest.config.ts
  jest.integration.config.ts
  jest.unit.config.ts
  package.json
  pnpm-lock.yaml
  src/index.ts
  tests/setup.ts
Due: prettier --write

chore: configuring build
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: configuring docker
  .dockerignore
  Dockerfile
  docker-compose.yml
  package.json
Due: prettier --write

chore: configuring debugger
  .vscode/launch.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add jest configuration for tests
  .husky/commit-msg
  .prettierignore
  .prettierrc
  jest-integration-config.js
  jest-unit-config.js
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/scraper/travel.js
  tests/fixture/travel.js
  tests/scraper/travel.spec.js
Due: eslint --fix, prettier --write

feat: add simple scrape
  package.json
  pnpm-lock.yaml
  src/index.js
  src/scraper/browser.js
  src/scraper/scraper-utils.js
  src/scraper/travel-scraper.js
Due: eslint --fix, prettier --write

chore: add alias to babelrc path
  .babelrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add files to gitignore
  .gitignore
  jest.config.js
Due: eslint --fix, prettier --write

feat: create util for puppeteer scrapers
  src/infra/puppeteer/browser.js
  src/infra/puppeteer/scraper-utils.js
Due: eslint --fix, prettier --write

feat: create scraper to collect tickets
  src/index.js
  src/infra/puppeteer/trip-scraper.js
  src/scraper/browser.js
  src/scraper/scraper-utils.js
  src/scraper/selectors.js
  src/scraper/travel-scraper.js
  src/scraper/travel.js
Due: eslint --fix, prettier --write

test: verify is collect travel data using puppeteer
  .commitlintrc.json
  .idea/workspace.xml
  src/domain/model/passenger.js
  src/infra/config/index.js
  tests/unit/trip-scraper.spec.js
Due: eslint --fix, prettier --write

chore: update packages babel plugins
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,md})
