Repository mayconaraujosantos/fly-easy-eticket: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
	"*.js": ["eslint --fix", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

chore: add project configuration files
  .env.example
  .husky/pre-commit
  .vscode/settings.json
  jest.config.js
  package-lock.json
Due: eslint --fix, prettier --write

feat: implement trip scraper functionality
  src/index.js
  src/infra/puppeteer/trip-scraper.js
Due: eslint --fix, prettier --write

feat: add main entry point utilities
  src/main/index.js
  src/utils/errors/index.js
  src/utils/errors/invalid-param-error.js
  src/utils/errors/missing-param-error.js
  src/utils/helpers/ticket-validator.js
  src/utils/helpers/validator.js
Due: eslint --fix, prettier --write

test: add unit test for ticket verification
  tests/mock/ticket-mock.js
  tests/unit/trip-scraper.spec.js
  tests/unit/verify-ticket.spec.js
Due: eslint --fix, prettier --write

chore: remove stage DeployDev
  .github/workflows/nodejs.yml
Due: none

chore: remove puppeter from coverage test
  jest.config.js
Due: eslint --fix, prettier --write

chore: add flag to running coverage test with pnpm
  package.json
Due: prettier --write

feat: improve error handling in trip scraper
  src/infra/puppeteer/trip-scraper.js
Due: eslint --fix, prettier --write

chore: add stage for install pnpm dependencie
  .github/workflows/nodejs.yml
Due: none

chore: add pnpm run test coverage
  .github/workflows/nodejs.yml
Due: none

chore: add package-logs dependencies and settings config
  .vscode/settings.json
  jsconfig.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  tests/unit/verify-ticket.spec.js
Due: eslint --fix, prettier --write

chore: upgrade babel plugins and add files idea webstorm
  .babelrc
  .idea/jsLibraryMappings.xml
  .idea/voarfacil-123milhas.iml
  .idea/workspace.xml
  .vscode/settings.json
  jsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add prisma dev packages
  .idea/workspace.xml
  jsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix pre-commit hooks and update VSCode settings
  .husky/pre-commit
  .vscode/settings.json
Due: prettier --write

feat: implement TripDataExtractor and TripScraper classes
  src/common/constant/selectors.js
  src/index.js
  src/infra/config/browser.js
  src/infra/puppeteer/trip-scraper.js
  src/utils/errors/missing-param-handler.js
  src/utils/helpers/scraper-utils.js
  src/utils/helpers/ticket-validator.js
  src/utils/helpers/validator.js
  tests/mock/ticket-mock.js
Due: eslint --fix, prettier --write

test: add unit tests for TicketValidator
  .vscode/settings.json
  tests/unit/trip-scraper.spec.js
  tests/unit/verify-ticket.spec.js
Due: eslint --fix, prettier --write

chore: remove prisma dependencie
  package.json
  pnpm-lock.yaml
  src/index.js
Due: eslint --fix, prettier --write

chore: add sonarquebe ci/cd in githubActions
  .github/workflows/nodejs.yml
  sonar-project.properties
Due: none

chore: add sonar exclusions to verify coverage
  sonar-project.properties
Due: none

chore: fix name SONARCLOUD_TOKEN to run sonarquebe
  .github/workflows/nodejs.yml
Due: none

chore: fix coverage from sonarqube
  .github/workflows/nodejs.yml
  .gitignore
  coverage/lcov.info
  pnpm-workspace.yaml
Due: none

chore: create docker files
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

chore: add swagger and prisma dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

refactor: apply clean code for files
  src/common/logging/logger.js
  src/domain/model/passenger.js
  src/index.js
  src/infra/puppeteer/collectors.js
Due: eslint --fix, prettier --write

test: apply clean code for names in teste
  tests/unit/trip-scraper.spec.js
Due: eslint --fix, prettier --write

chore: add vscode settings
  .vscode/launch.json
  .vscode/settings.json
Due: prettier --write
