Repository mayconaraujosantos/fly-easy-eticket: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: change readme information
  README.md
Due: prettier --write

chore: Add readme customized with the technology used in the project
  README.md
Due: prettier --write

refactor: change commitlint config file
  commitlint.config.js
Due: eslint --fix, prettier --write

chore: add testing logger and puppeteer scraper
  .eslintignore
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  README.md
  __tests__/scraper/scraper.spec.js
  __tests__/utils/.gitkeep
  __tests__/utils/filter-by-term.spec.js
  commitlint.config.js
  coverage/clover.xml
  coverage/lcov-report/browser.js.html
  coverage/lcov-report/config/index.html
  coverage/lcov-report/config/logger.js.html
  coverage/lcov-report/scraper/browser.js.html
  coverage/lcov-report/scraper/index.html
  coverage/lcov-report/utils/index.html
  coverage/lcov-report/utils/logger.js.html
  jest.config.js
  jest.setup.js
  k8s/.gitkeep
  k8s/manifest.yml
  logs/app.log
  package-lock.json
  package.json
  src/config/winston/index.js
  src/main/config/.gitkeep
  src/scraper/browser.js
  src/scraper/selectors.js
  src/utils/logger.js
  yarn.lock
Due: eslint --fix, prettier --write

docs: add image to load in readme
  README.md
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/scraper/browser.js.html
  coverage/lcov-report/scraper/index.html
  coverage/lcov-report/utils/index.html
  coverage/lcov-report/utils/logger.js.html
  coverage/lcov.info
  requirements/airline-reservation-scraper.md
  requirements/airline-reservation.drawio
  requirements/bdd-specs.md
  requirements/scraper-diagram.png
  requirements/tools.png
Due: prettier --write

chore: remove unesed files
  coverage/clover.xml
  coverage/lcov-report/index.html
  coverage/lcov-report/scraper/browser.js.html
  coverage/lcov-report/scraper/index.html
  coverage/lcov-report/utils/index.html
  coverage/lcov-report/utils/logger.js.html
  jest.config.js
  jest.setup.js
Due: eslint --fix, prettier --write

ci: add github CI CD for tests
  .github/workflows/jest.yml
  coverage/clover.xml
  coverage/lcov-report/index.html
  coverage/lcov-report/scraper/browser.js.html
  coverage/lcov-report/scraper/index.html
  coverage/lcov-report/utils/index.html
  coverage/lcov-report/utils/logger.js.html
Due: none

ci: apply prettier formatter code
  .github/workflows/jest.yml
Due: none

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

chore: add yarn runnable for ci cd
  .github/workflows/node.js.yml
  package.json
Due: prettier --write

chore: change setup yarn runnable for ci cd
  .github/workflows/jest.yml
  .github/workflows/node.js.yml
  package-lock.json
  yarn.lock
Due: prettier --write

chore: set node 18 version for runnable for ci cd
  .github/workflows/node.js.yml
Due: none

chore: set test husky pre commit
  .husky/pre-commit
Due: none

chore: remove coverage folder
  .gitignore
  .husky/pre-commit
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/scraper/browser.js.html
  coverage/lcov-report/scraper/index.html
  coverage/lcov-report/utils/index.html
  coverage/lcov-report/utils/logger.js.html
Due: prettier --write

chore: remove coverage folder
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/browser.js.html
  coverage/lcov-report/config/index.html
  coverage/lcov-report/config/logger.js.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/scraper/browser.js.html
  coverage/lcov-report/scraper/index.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov-report/utils/index.html
  coverage/lcov-report/utils/logger.js.html
  coverage/lcov.info
Due: eslint --fix, prettier --write

chore: add sonarlint github Actions
  .github/workflows/node.js.yml
  .gitignore
  .vscode/settings.json
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov.info
  sonar-project.properties
Due: prettier --write

chore: add set config in sonar-properties
  coverage/clover.xml
  sonar-project.properties
Due: none

chore: add set config in sonar-properties
  .github/workflows/node.js.yml
  coverage/clover.xml
Due: none

chore: change sonar token
  .github/workflows/node.js.yml
  coverage/clover.xml
Due: none

chore: set ci cd for develop branch
  .github/workflows/node.js.yml
  README.md
  coverage/clover.xml
Due: prettier --write

chore: set ci cd for develop branch
  .github/workflows/node.js.yml
  .gitignore
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov.info
Due: prettier --write

chore: clean nodejs github action ci cd
  .github/workflows/node.js.yml
Due: none

chore: set coverall pipeline
  .github/workflows/coveralls.yml
  .github/workflows/nodejs.yml
Due: none

chore: set coverall pipeline
  .github/workflows/coveralls.yml
  package.json
  yarn.lock
Due: prettier --write

chore: create scraper to get passenger information
  src/index.js
  src/scraper/collector/scraper-passenger.js
  src/scraper/config/browser.js
  src/scraper/index.js
  src/scraper/properties/selectors.js
  src/utils/code-url-list.js
  src/utils/page-browser-utils.js
Due: eslint --fix, prettier --write

test: create test for scraper to get passenger information
  .github/workflows/nodejs.yml
  .gitignore
  .husky/pre-commit
  __tests__/scraper/scraper.spec.js
  __tests__/utils/filter-by-term.spec.js
  jest.config.js
  package.json
  src/scraper/browser.js
  src/scraper/collector/scraper-passenger.js
  src/scraper/scraper.js
  src/scraper/selectors.js
  src/utils/page-browser-utils.js
  tests/fixture/index.js
  tests/scraper/scraper-passeger.spec.js
  tests/utils/.gitkeep
  yarn.lock
Due: eslint --fix, prettier --write

chore: add code for filter on remove duplicates
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/libraries/jest.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/voarfacil-123milhas.iml
  .idea/workspace.xml
  src/scraper/collector/scraper-passenger.js
Due: eslint --fix, prettier --write

chore: add more links to test case
  src/utils/code-url-list.js
Due: eslint --fix, prettier --write

test: ensure positive testing and negative tests
  tests/fixture/index.js
  tests/scraper/scraper-passeger.spec.js
Due: eslint --fix, prettier --write

chore: add new rules for commitlint
  .commitlintrc.json
  .github/workflows/continuous-integration-full-workflow.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
  jest.config.js
  package.json
  src/utils/page-browser-utils.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: remove typecheck step from ci cd
  .github/workflows/continuous-integration-full-workflow.yml
Due: none

chore: add steps for run lint and prettier CI CD
  .github/workflows/continuous-integration-full-workflow.yml
Due: none

chore: remove steps for run prettier CI CD
  .github/workflows/continuous-integration-full-workflow.yml
Due: none

chore: remove merge commit steps for run CI CD
  .github/workflows/continuous-integration-full-workflow.yml
Due: none

feat: add scraper to collect arrival ticket
  src/scraper/collector/passenger.js
  src/scraper/index.js
  src/scraper/properties/selectors.js
  src/utils/code-url-list.js
  src/utils/logger.js
  src/utils/page-browser-utils.js
  tests/fixture/index.js
  tests/fixture/passergers.js
Due: eslint --fix, prettier --write

test: ensure scraper to collect arrival ticket
  .eslintrc.json
  .prettierignore
  package.json
  tests/scraper/scraper-passeger.spec.js
Due: eslint --fix, prettier --write

chore: resolve yarn lock files
  yarn.lock
Due: none

feat: create scraper for arrival departure ticket
  src/index.js
  src/scraper/collector/passenger.js
  src/scraper/collector/scraper-passenger.js
  src/scraper/config/browser.js
  src/scraper/index.js
  src/scraper/properties/selectors.js
  src/scraper/query-selectors/selectors.js
  src/utils/helpers/code-url-list.js
  src/utils/helpers/logger.js
  src/utils/helpers/page-browser-utils.js
Due: eslint --fix, prettier --write

test: make sure your scraper is working
  package-lock.json
  package.json
  tests/fixture/passergers.js
  tests/scraper/scraper-passeger.spec.js
Due: eslint --fix, prettier --write

chore: change workfloww CI CD for git-flow
  .github/workflows/continuous-integration-full-workflow.yml
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,md})
